.header-title {
  color: #009fff;
  letter-spacing: -1px;
  line-height: 1.1px;
  font-weight: 600;
  padding-bottom: 20px;
  padding-top: 25px;
  justify-content: space-between;
  display: flex;
  align-content: flex-end;
  align-items: center;
  height: 60px;
}

.link-header{
  position: relative;
  z-index: 999999;
}

.number-list {
  color: white;
  font-weight: 600;
  background-color: #009fff;
  border-radius: 8px;
  line-height: 1.3;
  padding: 2px;
}

.avatar-home{
  width: 100px;
  height: 100px;
  position: absolute;
  top: -25px;
  left: 100px;
}

.block-card{
  position: relative;
  margin-bottom: 160px;
}

.link-podcast{
  text-decoration: none;  
}

.title-song{
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 1.1;
  font-size: 18px;  
}

.link-podcast:hover .title-song{
  color: #0268b3;
}

.block-int-card{
  max-width: 250px;
  min-height: 100px;
  padding-top: 40px;
  margin-bottom: 0;
  transition: all 0.5s ease-out;
  box-shadow: 0px 3px 7px -5px #222;
  -webkit-box-shadow: 0px 3px 7px -5px #222;
  -moz-box-shadow: 0px 3px 7px -5px #222;
}

.link-podcast:hover .block-int-card{
  background-color: #f3f3f3 !important;
}

.name-author{
  font-weight: 600; 
  letter-spacing: -0.5px;
}

.link-podcast:hover .name-author{
  color: #004679;
}