.player-audio{
    width: 100%;
    margin-top: 20px;
}

.title-episode{
    color:black;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 900;
    margin-bottom: 20px;
}

.description-episode{
    font-weight: 400;
    font-style: italic;
    color: var(--grey-color);
}

.item-lateral{
    padding: 15px;
}

.item-lateral img{
    padding: 25px;
}

.lateral-description{
    color:black;
    text-align: left;
}

.lateral-description span{
    display:block;
    font-weight: 900;
    margin: 10px 0px;
}

.lateral-description .description-content{
    font-style: italic;
    color: var(--grey-color);
}

.author-lateral{
    color:black;
    text-align: left;
    margin: 15px 0;
}

.author-lateral span{
    font-weight: 900;    
    display: block;
    font-size: 18px;
}

.author-lateral label{
    font-style: italic;
    color: var(--grey-color);
    display: block;
}

.link-author label{
    transition: 0.5s all;
}

.link-author label:hover{
    text-decoration: underline;
    color: var(--link-color);
    cursor:pointer !important;
}

.imagen-link-podcast img{
    transition: 0.5s all;
    
}

.imagen-link-podcast img:hover{
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    background: #ededed;
    border-radius: 10px;
}

.link-title-episode .title-episode{
    transition: 0.5s all;
}

.link-title-episode .title-episode:hover{
    text-decoration: underline;
    color:#0062e2;
}

.filaPar{
    background-color: '#ffffff';
}

.filaImpar{
    background-color: #f1f1f1;
}

    
.tableDetail {
    border-collapse: collapse;
    width: 100%;
    box-shadow: none;
}

.celda {
    border-bottom: 1px solid #ccc;
    padding: 8px 16px;    
}

.primeraCelda {
    border-left: none;
    color:var(--link-color);
}

.ultimaCelda {
    border-right: none;
}

.strong-cell{
    font-weight: 900;
    color:black;
    font-size: 15px;
    border-bottom: 2px solid #cccccc;
    padding: 4px 16px;
}

.cant-episodes{
    text-align: left;
    font-size: 20px;
    font-weight: 900;
    color: black;
    padding: 12px;
    margin-bottom: 20px;
}

